body {
  background-image: linear-gradient(rgb(238, 91, 91), rgb(252, 252, 252));
}

li {
  list-style-type: none;
}

.card-title {
  font-weight: bold;
}

#about-me {
  font-family: Tahoma;
}

p {
  font-style: italic;
}

ul {
  font-family: verdana;
}

img {
  width: 50%;
}
#pix {
  padding-top: 5%;
}

.main {
  width: 40%;
}